#companyName {
  position: sticky;
  right: 180px;
  font-size: 70px;
  font-weight: bold;
  width: 400px;
  color: black;
  margin-left: 185px;
  margin-top: 350px;
}

.dot {
  position: absolute;
  left: 800px;
  top: 70px;
  height: 100px;
  width: 100px;
  background-color: #bbb;
  border-radius: 50%;
  overflow: hidden;
}

@media (max-width: 500px) {
  html {
    background-color: yellow;
    flex-grow: 2;
  }
  body {
    background-color: aqua;
    height: 200vh;
    flex-grow: 2;
  }
  .App {
    background-color: yellow;
  }
}
